<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">IJM: PH</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
<!--
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              <i-map></i-map> Overview <span class="sr-only">(current)</span>
            </a>
          </li>
-->
          <li class="nav-item">
            <a class="nav-link active" routerLink="/map">
              <i-map></i-map> Map
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports">
              <i-list></i-list> Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cases">
              <i-users></i-users> Cases
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
